/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.artistList_div::-webkit-scrollbar{
  display: none;

}
.css-1gsv261{
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}
/* body{
  font-family: 'League Gothic', sans-serif;
} */
  /* .app{
      border: 2px solid red;
      box-sizing: border-box;
      height: 100vh;
      width: 100vw;
      z-index: 100;
      background-color: whitesmoke;
      padding: 20px;
      display: flex;
      flex-direction: column;
  }

  .appMainView{
      box-sizing: border-box;
      border: 2px solid green;
      flex: 0.9;


  }
  .appNavBar{
      box-sizing: border-box;
      border: 1px solid red;
      flex: 0.1;
      width: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

  }
  .appNavBarIcons{
    color: #a3a3a3;
    font-size: 38px !important;
  } */